body{
    background-color: #999;
}
.box{
    width: 80%;
    margin: auto;
    text-align: center;
    
}
p{
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 20px;
    background-color: orange;
    font-weight: 600;
}
h2{
    color:white;  text-transform: uppercase;
}
