
/***** RESET *****/

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
html {
    font-size: 100%;
}

/***** FONTS *****/

@font-face {
    font-family: 'Gotham book';
    src: url(fonts/GothamBook.otf);
}
@font-face {
    font-family: 'Gotham medium';
    src: url(fonts/GothamMedium.otf);
}
@font-face {
    font-family: 'Gotham bold';
    src: url(fonts/GothamBoldRegular.ttf);
}

/***** GLOBAL *****/

.clearfix:after {
    content: "";
     display: table;
    clear: both;  
}
h2 {
    font-family: 'Gotham medium';
    text-transform: uppercase;
}
.container {
    max-width: 1100px;
    text-align: center;
    margin: auto;
    color: #fff;
}
.text {
    position: relative;
    padding-top: 6.25rem;
}
.text h1 {
    font-size: 10.94rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Roboto Condensed', sans-serif;
}
.text h3 {
    position: absolute;
    top: 5.313rem;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.625rem;
    text-transform: uppercase;
    font-family: 'Gotham medium';
}
.text h4 {
    font-size: 1.375rem;
    position: absolute;
    top: 12.5rem;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Gotham book';
}
p {
    font-family: 'Gotham book';
}

/***** LANDING PAGE *****/

.line {
    width: 100%;
    height: 1px;
    background-color: #cbcaca;
    position: absolute;
    top: 6.438rem;
    left: 0;
}

.landing-page {
    height: 100vh;
    background-image: url(../img/header.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
}
.landing-page nav ul li, .landing-page nav ul, .landing-page nav, .landing-page .logo {
    display: inline-block;
}
.landing-page nav ul, .landing-page nav {
    float: right;
}

.logo {
    position: fixed;
    transition: 1s;
    left: 50px;
    top: 100px;
    z-index: 999;
    padding: 0.625rem;
    margin: 1.25rem 0.3125rem;
    background-color: #11749e;
    box-shadow: 0.75rem 0.5rem 0 rgba(203, 202, 202, .8);
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.logo:hover {
    box-shadow: 0.75rem 0.5rem 0 rgba(203, 202, 202, .4);
    cursor: pointer;
}
.menu-button {
    display: none;
}
.soc-media li a {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: transparent;
}
.soc-media li a:hover {
    box-shadow: 0 0 0.5rem 0.5rem #cbcaca;
    color: #222;
    background-color: #cbcaca;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.landing-page nav ul li {
    margin: 2.813rem 0 0 1.25rem;
    padding-bottom: 1.875rem;
}
.landing-page nav .menu li:hover {
    border-bottom: solid 0.3125rem #11749e;
    transition: .5s ease-in;
}
.landing-page nav .menu {
    margin-right: 3.125rem;
    display: block;
}
.landing-page a {
    color: #cbcaca;
    font-family: 'Gotham book';
    font-size: 1.25rem;
}
.landing-page .header-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    text-transform: uppercase;
}
.landing-page .header-text h1 {
    font-size: 9.5rem;
    color: #f5f5f5;
    font-family: 'Gotham bold';
}
.landing-page .header-text h3 {
    font-size: 1.563rem;
    color: #11749e;
    margin: auto;
    letter-spacing: 1.25rem;
    font-family: 'Gotham medium';
}
.landing-page .scroll {
    position: absolute;
    bottom: 4.375rem;
    left: 35%;
    width: 30%;
}
.landing-page .scroll i {
    padding: 0.9375rem 1.25rem;
    font-size: 1.875rem;
    margin-top: 0.625rem;
    border: solid 1px #cbcaca;
    border-radius: 50%;
}
.landing-page .scroll i:hover {
    background-color: rgba(203, 202, 202, .2);
    transition: .5s ease-in;
    cursor: pointer;
}
.landing-page .scroll p  {
    color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8125rem;
}

/***** ABOUT *****/

.about {
    width: 100%;
    background-color: #11749e;
}
.about .text h1 {
    color: #3c8daf;
}
.about .text h3 {
    color: #fff;
}
.about ul {
    display: inline-block;
    width: 20%;
    margin: 9.375rem 2% 6.25rem 2%;
}
.about ul li i {
    width: 8.125rem;
    line-height: 8.125rem;
    font-size: 2.5rem;
    padding-left: 0.3125rem;
    background-color: #3c8daf;
    border-radius: 50%;
}
.about ul li i:hover {
    background-color: rgba(60, 141, 175, .5);
    transition: .5s ease-in;
}
.about ul li h2 {
    margin: 1.25rem 0 1.875rem 0;
    font-size: 1.125rem;
}
.about ul li p {
    font-size: 0.9375rem;
}

/***** GALLERY *****/

.gallery {
    width: 100%;
}
.top-row {
    background-color: #222;
    color: #fff;
}
.top-row img, .top-row .half-container {
    float: right;
}
.bottom-row img, .bottom-row .half-container {
    float: left;
}
.bottom-row {
    background-color: #f3f3f3;
    color: #222;
}
.top-row a {
    color: #fff;
}
.bottom-row a {
    color: #222;
}
.half-container {
    max-width: 550px;
    margin-top: 3.75rem;
}
.one {
    padding-right: 2.5rem;
    box-sizing: border-box;
}
.two {
    padding-left: 2.5rem;
    box-sizing: border-box;
}
.gallery img {
    opacity: 0;
    transition: 2s;
    width: 50%;
}
.gallery span:nth-last-of-type(2) {
    margin: 0 0.9375rem;
}
.gallery span {
    font-family: 'Gotham book';
    font-size: 0.8125rem;
}
.gallery h2 {
    margin: 0.625rem 0;
    font-size: 1.563rem;
}
.gallery p {
    margin: 1.25rem 0;
    font-size: 0.9375rem;
}

/***** BLOG *****/

.blog {
    width: 100%;
}
.blog .text h1 {
    color: #d7d7d7;
}
.blog .text h3 {
    color: #222;
}
.blog .text h4 {
    color: #000;
    font-weight: 100;
}
.blog img {
    width: 100%;
}
.blog ul {
    display: inline-block;
    width: 20%;
    margin: 12.5rem 2% 3.125rem 2%;
}
.blog ul li h2 {
    font-size: 1.125rem;
    color: #11749e;
    margin: 3.125rem 0 1.875rem 0;
}
.blog ul li p {
    font-size: 0.9375rem;
    color: #222;
}

/***** QUICK ACTION *****/

.quick-action {
    width: 100%;
    background-color: #11749e;
}
.quick-text {
    display: inline-block;
    width: 40%;
    margin: 5rem 2rem;
    position: relative;
}
.quick-text i {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    font-size: 4.375rem;
}
.quick-text p {
    padding-left: 5rem;
    margin:  0 4%;
    font-weight: 100;
    text-align: justify;
    font-size: 0.9375rem;
}

/***** KEY FEATURE *****/

.key-feature {
    background-image: url(../img/key-feature.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 3.125rem 0;
}
.key-content {
    display: inline-block;
    width: 49%;
    text-align: left;
    vertical-align: top;
}
.key-content img {
    width: 60%;
    display: block;
    margin: auto;
}
.key-content h2 {
    margin: 5rem 0 2.5rem 1.25rem;
}
.key-content p {
    padding: 1.25rem 2.5rem 1.25rem 1.25rem;
    margin: 0 0 2.5rem 0;
}
.key-content ul {
    width: 100%;
    margin-left: 1.25rem;
}
.key-content li {
    margin: 0.625rem 0;
    padding: 0.625rem;
    background-color: #11749e;
    font-family: 'Gotham medium';
    font-size: 0.9375rem;
    text-transform: uppercase;
}
.key-content li:first-of-type {
    width: 80%;
}
.key-content li:nth-of-type(2) {
    width: 90%;
}

/***** TEAM *****/

.team {
    width: 100%;
}
.team .text h1 {
    color: #d7d7d7;
}
.team .text h3 {
    color: #222;
}
.team .text h4 {
    color: #222;
}
.team-content {
    display: inline-block;
    width: 20%;
    margin: 12.5rem 2% 3.125rem 2%;
    position: relative;
}
.team-content img {
    width: 100%;
}
.team-content-text {
    width: 80%;
    position: absolute;
    bottom: -1.25rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    padding: 0.625rem;
    background-color: #fff;
}
.team-content-text h2 {
    color: #3c8daf;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}
.team-content-text h5 {
    color: #222;
    font-size: 0.9375rem;
    font-family: 'Gotham medium';
    font-weight: 100;
}

/***** CONTACT *****/

.contact {
    background-image: url(../img/footer-background.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}
.contact .text h1 {
    color: rgba(206,206,206, .2);
}
.contact .text h3 {
    color: #fff;
}
.contact form {
    padding: 10.5rem 0 6.25rem 0;
}
.contact form input {
    display: inline-block;
    width: 30%;
    margin: 1.25rem 0;
    height: 2.5rem;
    background: transparent;
    color: #fff;
    padding-left: 0.9375rem;
    box-sizing: border-box;
    font-size: 1.125rem;
}
.contact form input:nth-of-type(2) {
    margin: 1.25rem 4.05%;
}
.contact form textarea {
    width: 100%;
    height: 9.375rem;
    color: #fff;
    background: transparent;
    color: #fff;
    padding: 0.9375rem;
    box-sizing: border-box;
    font-size: 1.125rem;
}
.submit {
    margin-top: 100px;
    width: 15%!important;
    background-color: #11749e!important;
    padding: 0.625rem 1.25rem;
    border: none;
    color: #fff;
}

/***** FOOTER *****/

footer {
    width: 100%;
    margin-top: -0.3125rem;
    background-color: #222;
}
.info p {
    float: left;
    margin: 3.438rem 1.875rem;
    font-size: 0.8125rem;
    font-family: 'Roboto', sans-serif;
}
.info img {
    float: right;
    margin: 2.5rem 1.875rem;
    width: 20%;
}
.animate-height{
    transform: scaleY(0);
    transition: 2s;
}