/*
@media(max-width: 1186px) {

    .box{
        display: block;
        width: 80%;
        margin:10px auto;
    }


}
@media(max-width: 600px) {

    body{
        background-color: blue;

    }
    h1{
        font-size: 40px;
        color:white;
    }

}
@media(max-width: 450px) {

    .box{
        height: 50%;
        display: block;
        width: 80%;
        margin:10px auto;
    }*/

@media(max-width: 650px) {

    ul{display: none;}
    img{width: 80px;}
    .fa-bars{
        margin-top: 15px;
        font-size: 30px;
    	display:block;
        color:white;
        float: right;
    }
}
@media(max-width: 500px) {

    .landing-page button{
        margin: 5px 0px; 
    }

}
