
.container-fluid{
    padding: 20px 0px;
    width: 90%;
}

.navbar-brand li{
    list-style-type: none;
}
.navbar-brand  li  a{
    color: white;
}
.navbar-brand  li  ul  li  a{
    color: blue;

}
.form-control{
	margin: 10px 0;
}


.bigPhoto{
    height: 500px;
    background-color: red;
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 50px 0;
}
.bigPhoto h1{
    text-align: center;
    line-height: 500px;
    margin: 0px auto;
    color: #FFF;
    font-size: 7em;
}

.country.container{
    padding-top: 0px;
}

#row_selector {
    border-collapse: collapse;
}
#row_selector tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
#row_selector tr:hover {
    background-color: #ccc;
}
#row_selector th {
    background-color: #fff;
}
#row_selector th, #row_selector td {
    padding: 3px 5px;
}
#row_selector td:hover {
    cursor: pointer;
}#row_selector a:hover {
    text-decoration: none;
}